* {
  font-family: 'Montserrat', sans-serif;
  background-color: honeydew;
  /* background-color: rgba(58, 241, 58, 0.12); */

  color: #464646;
}

.header-nav__container {
  background-color: rgb(3, 71, 3);
  font-size: 16px;
  line-height: 30px;
  height: 80px;
  padding: 4px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-nav__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 38%;
  padding: 2px;
}

.header-nav__logo a {
  display: flex;
}

.header-nav__logo a div {
  margin-top: 5px;
}

.fa-golf-ball {
  font-size: 38px;
  background-color: rgb(3, 71, 3);
  margin: 0 12px;
  color: honeydew;
}

.header-nav__group > a > div {
  font-weight: 700;
  font-size: 18px;
}

.header-nav__logo > a > div {
  font-family: 'Architects Daughter', cursive;
  font-size: 40px;
}

footer {
  overflow: auto;
  padding: 4px 0;
}

.footer-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 0 1em;

}
.footer-container__text {
  display: flex;
  margin: 0 auto;
  width: 60%;
}

.footer-container__links {
  text-align: left;
  margin: 20px;
  height: 150px;
}

.footer-container__links a {
  display: block;
  padding: 8px;
  color: black;
  font-weight: 700;
}

.footer-container__ethos {
  display: flex;
  margin-right: 0;
  justify-content: center;
  align-items: center;
  /* margin-top: 20px; */
  text-align: left;
  line-height: 1.5em;
  width: 700px;
  overflow: hidden;
}

.footer__github-logo img {
  width: 100px;
}

a > span:hover,
a:hover {
  color: rgb(255, 115, 0);
  /* font-weight: 700; */
  text-decoration: none;
}


h1 {
  color: #fafafa;
}

button {
  background-color: rgb(255, 162, 0);
  border-color: rgb(255, 162, 0);
  border: 2px solid rgb(255, 162, 0);
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 10px;
  font-size: 18px;
  max-width: 250px;
  display: inline;
  padding: 15px 20px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(255, 115, 0);
  border-color: rgb(255, 115, 0);
  border: 2px solid rgb(255, 115, 0);
  box-shadow: 0 0 3px 2px rgb(255, 115, 0);
  color: white;
  text-transform: uppercase;
  transform: translateY(-1px);
}

button:focus {
  outline: none;
}

.banner {
  padding: 32px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  height: 500px;
}

.banner__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 650px;
  text-align: center;
}

.banner__text > h1 {
  font-weight: 600;
  margin-bottom: 9px;
  font-size: 2.5em;
  margin: 0;
}

.banner__text-subtext {
  margin-bottom: 36px;
  display: block;
  font-size: 20px;
  font-weight: 400;
  color: honeydew;
}

.banner__container {
  display: flex;
  padding: 110px 0;
  align-items: center;
  flex-direction: row;
  background-color: rgba(34, 139, 34, 0);
}

#special-button {
  color: forestgreen;
  background-color:honeydew;
  border: 2px solid honeydew;
  text-transform: uppercase;
  padding: 8px 12px;
  border-radius: 7px;
  transform: translateY(-1px);
}

#special-button:hover {
  background-color: forestgreen;
  border: 2px solid forestgreen;
  box-shadow: 0 0 3px 2px forestgreen;
  color: white;
}

i.github-logo {
  font-size: 40px;
  color: white;
  background-color: rgb(3, 71, 3);
}

i.github-logo:hover {
  color: rgb(255, 115, 0);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}