extends layout

include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  +banner(
    "Golfing is a great way to make new friends",
    "but you wont find that out playing alone.",
    "/signup",
    "Let's Play"
  )
  .page
    .page__container
      .page__text
        h2(class='page__text-h2') Show up for a tee time
        p(class='page__text-subtext') You and few others join up at a course.
      .page__text
        h2(class='page__text-h2') Enjoy real golf
        p(class='page__text-subtext') Play rounds of golf with like minded people.
      .page__text-last
        h2(class='page__text-h2') See what happens
        p(class='page__text-subtext') Thats it, enjoy the game we love.
  .about-container
          .about-container__img.image-cropper
            img(src='https://dtt3egpp7rvvz.cloudfront.net/content/uploads/2018/04/16151641/crans-sur-sierre-e1523884629576.jpg')
          .about-container__text
            h1(class='about-container__text-h1') It's exciting
            br
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            br
  .about-container
          .about-container__text
            h1(class='about-container__text-h1') We wouldn't meet otherwise
            br
            P Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            br
          .about-container__img.image-cropper
            img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS_1iyvXxBAAwcp63dsaWlzRVCV_2eFcjT-7Q&usqp=CAU')
