doctype html
html

  head
      block head
        title= TeeTime
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/layout.css')
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet")


        

  body
    .header-nav__container
      span(class='header-nav__logo')
        a(href='/' class='header-nav__link')
          div(class="header-nav__link-home") TeeTime
      span(class='header-nav__group')
        a(href='/courses' class='header-nav__link')
          div(class="header-nav__link-courses") Courses
        a(href='/tee-times' class='header-nav__link')
          div(class="header-nav__link-tee-times") TeeTimes

        if authenticated
          a(href=`/users/${user.id}` class='header-nav__link')
            div(class='header-nav__link-profile') Profile
          a(href='/logout' class='header-nav__link')
            div(class="header-nav__link-sign-out") Sign Out
        else
          a(href='/login' class='header-nav__link')
            div(class='header-nav__link-sign-in') Sign In
          a(href='/signup' class='header-nav__link')
            div(class="header-nav__link-sign-up") Sign Up

    .banner__container
      .banner__container--underlay
        .banner__text
          h1 Golfing is a great way to make new friends
            div
            span but you wont find that out playing alone.
          a(href='/' class="header-banner__button-link") Let's Play

    block content


    footer
      .footer__github-logo
        img(src='https://clipart.info/images/ccovers/1499794873github-logo-png.png')
