* {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f5f5;
  color: #464646;
}

.header-nav__container {
  background-color: rgb(3, 71, 3);
  font-size: 16px;
  line-height: 30px;
  height: 80px;
  padding: 4px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-nav__group {
  display: flex;
  justify-content: space-between;
  width: 33%;
  padding: 2px;
}

.header-nav__logo > a > div {
  font-family: 'Architects Daughter', cursive;
  font-size: 40px;
}

footer {
  overflow: auto;
  padding: 4px 0;
  display: block;
}

.footer-container {
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 0 1em;
}
.footer-container__text {
  float: left;
  display: block;
  /* margin-right: 2.3576520234%; */
  width: 82.9403913294%;
  margin-left: 8.5298043353%;
}

.footer-container__links {
  text-align: left;
}

.footer-container__links a {
  display: block;
  padding: 2px;
}

.footer__github-logo img {
  width: 100px;
}

a > span:hover,
a:hover {
  color: rgb(255, 115, 0);
  font-weight: 700;
  text-decoration: none;
}

footer {
  flex-direction: column;
  margin: 0 auto;
  max-width: 650px;
  text-align: center;
  color: white;
}


h1 {
  color: #fafafa;
}

button {
  background-color: goldenrod;
  border-color: goldenrod;
  border: 2px solid goldenrod;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 10px;
  font-size: 18px;
  max-width: 300px;
  display: inline;
  padding: 15px 20px;
}

button:hover {
  background-color: rgb(255, 162, 0);
  border-color: rgb(255, 162, 0);
  border: 2px solid rgb(255, 162, 0);
  box-shadow: 0 0 3px 2px rgb(255, 162, 0);
  color: white;
  text-transform: uppercase;
}
.banner {
  padding: 32px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  height: 500px;
}

.banner__text {
  flex-direction: column;
  margin: 0 auto;
  max-width: 650px;
  text-align: center;
}
.banner__text > h1 {
  font-weight: 600;
  margin-bottom: 9px;
  font-size: 2.5em;
  margin: 0;
}

.banner__text-subtext {
  margin-bottom: 36px;
  display: block;
  font-size: 0.65em;
  font-weight: 400;
}

.banner__container {
  display: flex;
  padding: 110px 0;
  align-items: center;
  flex-direction: row;
  background-color: rgba(34, 139, 34, 0);
}
